@model AdminPart.Models.Entity.UserModel
@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>
<html>
<body>
    <form action="/Admin/Details" method="post">
        <h2>Registration</h2>
        <input type="hidden" name="userid" value="@Model.userid" />
        <input type="text" name="username" value="@Model.username" />
        <input type="password" name="password" value="@Model.password" />
        <button type="submit">Update</button>
    </form>
</body>
</html>


